<h1><%= @title %></h1>
<%= @content %>
<form action='/daily_diary/content/edit_content' method='get'/>
<input type='hidden' name='content' value='<%= @content %>' />
<input type='hidden' name='title' value='<%= @title %>' />
<input type='submit' name='Edit content' value='Edit content'/>
</form>
