<h1><%= @title %></h1>
<textarea  id='post_content' name='post_content' form='formid' value='<%= @content %>' rows='10' columns='20'>
  <%= @content %>
</textarea>
<form id='formid' action='/daily_diary/content/edit_content/submit' method='post'>
  <input type='submit' name='Submit'>
  <input type='hidden' name='title' value='<%= @title %>' />
</form>
