<h1>Diary Entries</h1>
<ul>
  <% @titles.each do |entry| %>
  <li>
    <a href="/daily_diary/content?content=<%=entry.content %>">
      <%= entry.title %>
    </a>
  </li>
  <% end %>
</ul>
<form action='/daily_diary/new_entry' method='post'>
  <input type='text' name='title' value='Add a title to your entry'>
  <input type='text' name='content' value='Add an entry to your title'>
  <input type='submit' name='Submit'>
</form>
